<div class="jumbotron" style="position: relative;">
    <div class="text-center">
        <h1 class="display-4" style="font-weight: bold;">Bharath Sri Sai Phani Eshwar Patruni</h1>
        <h2>Python Full Stack Developer</h2>
    </div>

    <div style="position: absolute; bottom: 5px; right: 10px;">
        <a href="https://www.linkedin.com/in/bharath-patruni-618528275" target="_blank">
            <img src="../../assets/linkedin.jpeg" width="34" height="26" class="rounded-circle me-2">
        </a>
        <a href="https://github.com/bharath62819?tab=repositories" target="_blank">
            <img src="../../assets/github.jpeg" width="34" height="29" class="rounded-circle me-2">
        </a>
        <a href="mailto:bharathsai8071@gmail.com" target="_blank">
            <img src="../../assets/gmail.png" width="34" height="24" class="rounded-circle  me-2">
        </a>
    </div>
</div>