<div class="container">
    <div class="row">
        <div class="col-lg shadow-lg border m-1">
            <div class="text-center">
                <h2>About Me</h2>
                <img src="../../assets/photo.jpg" alt="Profile Picture" width="256" height="256" class="rounded-circle">
                <h5>I am a Python Full Stack Developer with expertise in both front-end and back-end development. I excel in using HTML and CSS to create well-structured and visually appealing web pages, and leverage Angular to build dynamic and responsive user interfaces. On the back-end, I utilize Python and the Django framework to develop robust, scalable applications, while also crafting RESTful APIs for seamless client-server communication. Additionally, I have strong skills in managing and interacting with MySQL databases, enabling me to build comprehensive, full-featured web applications efficiently.</h5>
            </div>
        </div>
    </div>
</div>