<div class="card shadow-lg text-center">
    <div class="card-body">
        <h3 class="card-title">{{project.name}}</h3>
        <h5 class="card-text">{{project.summary}}</h5>
        <h5>Hosted Website&nbsp;👉&nbsp;<button class="btn btn-dark"><a href={{project.projectLink}} target="_blank">Click Here</a></button></h5>
        <h5>Source Code Link&nbsp;👉&nbsp;<button class="btn btn-dark"><a href={{project.codeLink}} target="_blank">Click Here</a></button></h5>
    </div>
    <div class="card-footer">
        <div class="d-flex flex-wrap justify-content-center">
            <div *ngFor="let tag of project.tags">
                <div class="tag me-2 mb-1">{{tag}}</div>
            </div>
        </div>
    </div>
</div>