<div class="container">
    <div class="text-center border mb-5 shadow-lg rounded">
        <h1>Contact Me</h1>
        <h4>I can be reached at the following Mobile Number : <b>6281976879</b></h4>
        <h4>Please feel free to connect with me on any of the following platforms : </h4>
    </div>

    <div class="list-group shadow">
        <a href="https://www.linkedin.com/in/bharath-patruni-618528275" target="_blank" class="list-group-item list-group-item-action d-flex gap-3 py-3">
            <img src="../../assets/linkedin.jpeg" width="52" height="42" class="rounded-circle flex-shrink-0 me-5">
            <h3 class="mb-0">LinkedIn</h3>
        </a>
        <a href="https://github.com/bharath62819?tab=repositories" target="_blank" class="list-group-item list-group-item-action d-flex gap-3 py-3">
            <img src="../../assets/github.jpeg" width="52" height="37" class="rounded-circle flex-shrink-0 me-5">
            <h3 class="mb-0">GitHub</h3>
        </a>
        <a href="mailto:bharathsai8071@gmail.com" target="_blank" class="list-group-item list-group-item-action d-flex gap-3 py-3">
            <img src="../../assets/gmail.png" width="52" height="32" class="rounded-circle flex-shrink-0 me-5">
            <h3 class="mb-0">GMail</h3>
        </a>
    </div>
</div>