<div class="navbar-expand-md border-bottom mb-3">
    <div class="container">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a routerLink="/about" routerLinkActive="text-light" class="nav-link ">About</a>
            </li>
            <li class="nav-item">
                <a routerLink="/projects" routerLinkActive="text-light" class="nav-link ">Projects</a>
            </li>
            <li class="nav-item">
                <a routerLink="/resume" routerLinkActive="text-light" class="nav-link ">Resume</a>
            </li>
            <li class="nav-item">
                <a routerLink="/skills" routerLinkActive="text-light" class="nav-link ">Skills</a>
            </li>
            <li class="nav-item">
                <a routerLink="/contact" routerLinkActive="text-light" class="nav-link ">Contact</a>
            </li>
        </ul>
    </div>
</div>