<div class="container">
    <div class="row">
        <div class="text-center">

            <div class="card shadow-lg">
                <div class="card-body">
                    <h5 class="card-title" style="font-weight: bold; text-decoration: underline; font-size: 34px;">Languages</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" style="font-weight: bold;">HTMl</li>
                    <li class="list-group-item" style="font-weight: bold;">CSS </li>
                    <li class="list-group-item" style="font-weight: bold;">TypeScript</li>
                    <li class="list-group-item" style="font-weight: bold;">Python</li>
                </ul>
            </div><br>

            <div class="card shadow-lg">
                <div class="card-body">
                    <h5 class="card-title" style="font-weight: bold; text-decoration: underline; font-size: 34px;">Frameworks and API's</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" style="font-weight: bold;">Bootstrap</li>
                    <li class="list-group-item" style="font-weight: bold;">Angular</li>
                    <li class="list-group-item" style="font-weight: bold;">Django</li>
                    <li class="list-group-item" style="font-weight: bold;">Django REST API</li>
                </ul>
            </div><br>

            <div class="card shadow-lg">
                <div class="card-body">
                    <h5 class="card-title" style="font-weight: bold; text-decoration: underline; font-size: 34px;">Databases</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" style="font-weight: bold;">MySQL</li>
                </ul>
            </div>

        </div>
    </div>
</div>