<div class="container">
    <div class="row">
        <div class="text-center">

            <div class="card shadow-lg" style="background-color: black; color: wheat; border: 2px solid wheat;">
                <div class="card-body">
                    <h5 class="card-title" style="font-weight: bold; text-decoration: underline; font-size: 34px;">Languages</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" style="font-weight: bold; background-color: black; color: wheat; border: 1px solid wheat;">HTMl</li>
                    <li class="list-group-item" style="font-weight: bold; background-color: black; color: wheat; border: 1px solid wheat;">CSS </li>
                    <li class="list-group-item" style="font-weight: bold; background-color: black; color: wheat; border: 1px solid wheat;">TypeScript</li>
                    <li class="list-group-item" style="font-weight: bold; background-color: black; color: wheat; border: 1px solid wheat;">Python</li>
                </ul>
            </div><br><br>

            <div class="card shadow-lg" style="background-color: black; color: wheat; border: 2px solid wheat;">
                <div class="card-body">
                    <h5 class="card-title" style="font-weight: bold; text-decoration: underline; font-size: 34px;">Frameworks and API's</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" style="font-weight: bold; background-color: black; color: wheat; border: 1px solid wheat;">Bootstrap</li>
                    <li class="list-group-item" style="font-weight: bold; background-color: black; color: wheat; border: 1px solid wheat;">Angular</li>
                    <li class="list-group-item" style="font-weight: bold; background-color: black; color: wheat; border: 1px solid wheat;">Django</li>
                    <li class="list-group-item" style="font-weight: bold; background-color: black; color: wheat; border: 1px solid wheat;">Django REST API</li>
                </ul>
            </div><br><br>

            <div class="card shadow-lg" style="background-color: black; color: wheat; border: 2px solid wheat;">
                <div class="card-body">
                    <h5 class="card-title" style="font-weight: bold; text-decoration: underline; font-size: 34px;">Databases</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" style="font-weight: bold; background-color: black; color: wheat; border: 1px solid wheat;">MySQL</li>
                </ul>
            </div>

        </div>
    </div>
</div>