<div class="container">
    <div class="row">
        <div class="text-center">
            <h6>Download Resume&nbsp;👉&nbsp;<button class="btn btn-dark"><a href="https://drive.google.com/file/d/1wp6cbBGROzuSvsY3hdHrg9ZB3fEb22rY/view?usp=drivesdk" target="_blank">Click Here</a></button></h6>
        </div>
    </div>
</div><br>

<div class="container">
    <div class="row">
        <div class="text-center" >

            <div class="card shadow-lg" style="background-color: black; color: wheat; border: 2px solid wheat;">
                <div class="card-body">
                    <h5 class="card-title" style="font-weight: bold; text-decoration: underline; font-size: 34px; ">Bachelor of Science</h5>
                    <p class="card-text" style="font-weight: bold;  font-size: 24px;">Computer Science</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" style="font-weight: bold; background-color: black; color: wheat; border: 1px solid wheat;">College Name : <span style="font-weight: bold; font-size: 20px;">Government Degree College Autonomous Rajahmundry</span></li>
                    <li class="list-group-item" style="font-weight: bold; background-color: black; color: wheat; border: 1px solid wheat;">Duration : <span style="font-weight: bold; font-size: 20px;">2021-2023</span></li>
                    <li class="list-group-item" style="font-weight: bold; background-color: black; color: wheat;">CGPA : <span style="font-weight: bold; font-size: 20px;">9.3</span></li>
                </ul>
            </div><br><br>

            <div class="card shadow-lg" style="background-color: black; color: wheat; border: 2px solid wheat;">
                <div class="card-body">
                    <h5 class="card-title" style="font-weight: bold; text-decoration: underline; font-size: 34px;">Intermediate</h5>
                    <p class="card-text" style="font-weight: bold;  font-size: 24px;">English(First Language),Mathematics,Physics,Chemistry</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" style="font-weight: bold; background-color: black; color: wheat; border: 1px solid wheat;">College Name : <span style="font-weight: bold; font-size: 20px;">Sri Chaitanya Junior College</span></li>
                    <li class="list-group-item" style="font-weight: bold; background-color: black; color: wheat; border: 1px solid wheat;">Duration : <span style="font-weight: bold; font-size: 20px;">2018-2020</span></li>
                    <li class="list-group-item" style="font-weight: bold; background-color: black; color: wheat;">CGPA : <span style="font-weight: bold; font-size: 20px;">8.3</span></li>
                </ul>
            </div><br><br>

            <div class="card shadow-lg" style="background-color: black; color: wheat; border: 2px solid wheat;">
                <div class="card-body">
                    <h5 class="card-title" style="font-weight: bold; text-decoration: underline; font-size: 34px;">Class 10</h5>
                    <p class="card-text" style="font-weight: bold;  font-size: 24px;">English(First Language),Remaining Standard Subjects</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" style="font-weight: bold; background-color: black; color: wheat; border: 1px solid wheat;">School Name : <span style="font-weight: bold; font-size: 20px;">Keshava Reddy E.M High School</span></li>
                    <li class="list-group-item" style="font-weight: bold; background-color: black; color: wheat; border: 1px solid wheat;">Duration : <span style="font-weight: bold; font-size: 20px;">2017-2018</span></li>
                    <li class="list-group-item" style="font-weight: bold; background-color: black; color: wheat;">CGPA : <span style="font-weight: bold; font-size: 20px;">9.8</span></li>
                </ul>
            </div>

        </div>
    </div>
</div>